In [1]:
import os
import requests
import pandas as pd
from sqlalchemy import create_engine
from dotenv import load_dotenv

# Load environment variables
load_dotenv()

# Database connection setup
db_url = f"postgresql+psycopg2://{os.getenv('DB_USER')}:{os.getenv('DB_PASSWORD')}@{os.getenv('DB_HOST')}:{os.getenv('DB_PORT')}/{os.getenv('DB_NAME')}"
engine = create_engine(db_url)

In [2]:
# Query the full table

query = "SELECT * FROM dune_data;"

dd = pd.read_sql(query, engine)
dd.shape

(483, 10)

In [10]:
dd

,block_time,tx_hash,src_token_address,src_token_symbol,src_tokens,dst_token_address,dst_token_symbol,dst_tokens,block_time_unix,sell_price
0,2024-06-24 20:10:23,0x265338185467fa750d52375be392c56df75f93bea0f1...,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,WETH,129.413771,0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48,USDC,428328.403249,1719259823,3309.759082
1,2024-06-17 13:20:35,0xe2472158b2643d02b6c80f6a86c97f293b3268adce0a...,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,WETH,1.134331,0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48,USDC,4006.302981,1718630435,3531.863147
2,2024-06-24 01:25:59,0xb255d308279f53ed161791085c30113fff7ff48f8561...,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,WETH,1.112803,0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48,USDC,3802.479134,1719192359,3417.028872
3,2024-06-17 02:08:35,0xdf7fd8e04989d59a824a93e1226299addd1d56a9bd13...,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,WETH,0.458980,0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48,USDC,1652.467808,1718590115,3600.304229
4,2024-06-19 20:27:23,0xce40c615a3a3425614db1bb2a22c0463dd268b854247...,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,WETH,0.518160,0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48,USDC,1827.579803,1718828843,3527.058892
...,...,...,...,...,...,...,...,...,...,...
478,2024-06-29 04:31:11,0xc814b0ac44aab39af0484e2e6356f64bb2b949b439dc...,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,WETH,10.172217,0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48,USDC,34353.812358,1719635471,3377.219788
479,2024-06-19 15:05:47,0xb2c772b9ffca86b41a4639458a7c0dd23d31a0f7b57c...,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,WETH,1.170940,0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48,USDC,4117.394649,1718809547,3516.314229
480,2024-06-27 14:20:59,0x2f9f1ad63719e289a29b47a94a3bf219148f1ced8bad...,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,WETH,25.560105,0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48,USDC,88529.651253,1719498059,3463.587214
481,2024-06-27 14:54:11,0x73c422c7ea886d1f98e8f9c24140d10404365ae3be01...,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,WETH,14.745112,0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48,USDC,50807.480792,1719500051,3445.716885
482,2024-06-17 15:22:11,0xbe4c670a2dfe505fa7b33bb28c17723ed6989f705592...,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,WETH,10.556317,0xa0b86991c6218b36c1d19d4a2e9eb0ce3606eb48,USDC,37013.145404,1718637731,3506.255602

In [3]:
# Query the full table

query = "SELECT * FROM market_prices;"

mp = pd.read_sql(query, engine)
mp.shape

(718, 11)

In [7]:
mp

,time,high,low,open,volumefrom,volumeto,close,conversionType,conversionSymbol,trade_unix_time,trade_tx
0,2024-06-30,3454.57,3348.22,3373.52,113753.11,3.862158e+08,3432.82,direct,,1719787547,0xa3f10cf232feb863240d8dd1d7872a5597f4c2776a2d...
1,2024-07-26,3286.14,3170.16,3174.48,352369.01,1.143688e+09,3274.89,direct,,1722004475,0x53039e2a922cd88d8e1db71ff8d34ac0eae79b47169b...
2,2024-07-26,3286.14,3170.16,3174.48,352369.01,1.143688e+09,3274.89,direct,,1722032987,0x75e064b48b2f6ccb50ebda252c1c03dc87cd7fded201...
3,2024-07-26,3286.14,3170.16,3174.48,352369.01,1.143688e+09,3274.89,direct,,1721995211,0x7072756b97cb1d3754b9939000025f02c1c911f6f6bf...
4,2024-07-27,3328.21,3243.29,3274.89,97951.91,3.209206e+08,3310.73,direct,,1722069695,0x488bd3863f797acdcdff5dd0fdc76f8cca5abad70983...
...,...,...,...,...,...,...,...,...,...,...,...
713,2024-07-27,3328.21,3191.50,3274.89,266332.66,8.703511e+08,3249.36,direct,,1722102131,0xe5e0947f0059fa688cbdc6fa26dbe76de04bacb2dc59...
714,2024-07-27,3328.21,3191.50,3274.89,266332.66,8.703511e+08,3249.36,direct,,1722115427,0x125ff6110deb8f7fb350c5469b436fa19045c8617c3b...
715,2024-07-27,3328.21,3191.50,3274.89,266332.66,8.703511e+08,3249.36,direct,,1722102899,0xe59a462a5d5924160c37b3d9ba0394659d793b260bb3...
716,2024-07-27,3328.21,3191.50,3274.89,266332.66,8.703511e+08,3249.36,direct,,1722121847,0x652e7d9e29ae8821c064670fc2aae525b5bfda99947c...
717,2024-07-27,3328.21,3191.50,3274.89,266332.66,8.703511e+08,3249.36,direct,,1722100595,0x93e4ff1cae2da4ce2ccefb614879f9a8f4163f4484a7...

In [8]:
# Query the full table

query = "SELECT * FROM price_difference;"

pi = pd.read_sql(query, engine)
pi.shape

(483, 5)

In [9]:
pi

,block_time,tx_hash,sell_price,market_close,difference_percentage
0,2024-07-05 09:35:11,0xca98d54ac01704f5161a8c931e726e15d92b9f7ca19b...,2869.481334,2982.07,-3.775521
1,2024-07-23 16:42:11,0x52c967c391598c5090114eba8e247472b798d3b95c58...,3438.650091,3483.07,-1.275309
2,2024-07-16 05:40:59,0xfb2c290e4198446cb38b9a6c7af0554dc64c9f31b982...,3426.974314,3446.19,-0.557592
3,2024-07-08 00:41:59,0x800628fa80b511330f7a1479759bfdddb3ee552a1ee9...,2901.289682,3018.49,-3.882747
4,2024-06-24 20:10:23,0x265338185467fa750d52375be392c56df75f93bea0f1...,3309.759082,3350.54,-1.217145
...,...,...,...,...,...
478,2024-06-29 04:31:11,0xc814b0ac44aab39af0484e2e6356f64bb2b949b439dc...,3377.219788,3373.52,0.109671
479,2024-06-19 15:05:47,0xb2c772b9ffca86b41a4639458a7c0dd23d31a0f7b57c...,3516.314229,3558.97,-1.198543
480,2024-06-27 14:20:59,0x2f9f1ad63719e289a29b47a94a3bf219148f1ced8bad...,3463.587214,3445.80,0.516200
481,2024-06-27 14:54:11,0x73c422c7ea886d1f98e8f9c24140d10404365ae3be01...,3445.716885,3445.80,-0.002412
482,2024-06-17 15:22:11,0xbe4c670a2dfe505fa7b33bb28c17723ed6989f705592...,3506.255602,3510.08,-0.108955